/* Estilos generales */
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("../img/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
}

h2 {
  font-family: "Mogra", cursive;
  text-align: center;
  font-size: 40px;
  color: #e8e3e3;
}

h3 {
  font-family: "Mogra", cursive;
  text-align: center;
  font-size: 40px;
  color: #d70c0c;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #000000;
  color: #fff;
  z-index: 1;
  height: 12%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left .logo {
  width: 10%;
  height: auto;
  margin-right: 1rem;
}

.header-left h1 {
  font-family: "Mogra", serif;
  font-size: 30px;
  color: #ffd700;
  margin: 0;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  flex-grow: 1;
}

.logout-icon {
  width: 7%;
  height: 7%;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.logout-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.header-menu {
  display: flex;
}

.header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-menu li {
  margin-left: 20px;
}

.menu-btn {
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 18px;
  text-align: left;
  padding: 20px 15px;

  display: block;
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.menu-btn:hover {
  background-color: rgba(
    220,
    167,
    167,
    0.2
  ); /* Subtle red background on hover */
  color: #d8d64e; /* Red text on hover */
}

.menu-btn:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4px;
  height: 100%;
  background-color: #ec920b;
}

.content {
  margin-left: 0; /* Eliminar el margen */
  padding: 20px;
  width: 100%; /* Asegurarse de que ocupe el 100% del ancho */
  box-sizing: border-box; /* Para que el padding no afecte el ancho */
}

.vista {
  display: none;
  margin-top: 8%;
}

.contenedor-buscador-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}
/* Estilos del buscador */
.buscador {
  width: 50%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.buscador:focus {
  outline: none;
  border-color: #868789; /* Color azul para el borde al enfocar */
  box-shadow: 0 0 5px rgba(250, 248, 247, 0.5); /* Sombra azul */
}
/* Estilos del botón */
.btn-agregar,
.asig_funcion,
.btn_asig_funcion,
.cerrarModalAsig {
  padding: 10px 20px; /* Tamaño del botón */
  background-color: #ef190a;
  color: rgb(255, 255, 255); /* Color del texto */
  font-size: 16px; /* Tamaño de texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de puntero */
  transition: all 0.3s ease;
}

.btn-agregar:hover {
  background-color: #db3e0e; /* Color al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
  transform: translateY(-2px); /* Levantamiento */
}

.btn-agregar:active {
  background-color: #7e281e; /* Color más oscuro al hacer clic */
  transform: translateY(0); /* Sin levantamiento */
}

table {
  width: 80%; /* Establece un ancho específico (puedes ajustar el 80% a lo que necesites) */
  max-width: 1100px; /* Puedes limitar el ancho máximo si lo deseas */
  margin: 20px auto; /* Centra la tabla horizontalmente */
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

table th,
table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #c8c3c3;
}

table th {
  background-color: #c8c7d1;
  color: rgb(2, 1, 1);
}

table tr:hover {
  background-color: #e7e2e0;
}

td > img {
  display: inline-block;
  margin: 0 5px; /* Espaciado entre los íconos */
  width: 24px; /* Ajusta el tamaño de los íconos */
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s ease;
}

td > img:hover {
  transform: scale(1.1); /* Agranda el ícono ligeramente */
  opacity: 0.8; /* Efecto visual al pasar el ratón */
}

/*--------------- Estilos para los modales ------------------*/
.modal {
  display: none; /* Oculta el modal por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el modal */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-height: 60%; /* Limita la altura máxima del modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Estilo para los grupos de formulario (form-group) */
.form-group {
  flex: 1 1 45%;
  max-width: 360px;
  margin-bottom: 10px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-group label {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

/**/
.cerrar-modal {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
}

.btn-guardar {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
  border: none;
}

.btn-guardar:hover {
  background-color: #d32f2f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
  transform: translateY(-2px); /* Levantamiento del botón */
}
